<form action="/post" method="post">
    <p>Título: </p>
    <input type="text" name="A1">
    <p>Conteúdo: </p>
    <textarea name="A2" id="" cols="30" rows="10"></textarea>
    <button>AAAAAAAAAA</button>
</form>